/*  ------------------------------------------------------------------------
      Account Menu
    ------------------------------------------------------------------------  */

menu.account {
  visibility: hidden;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 0;
  padding: 0.25rem 0;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

menu.account > li {
  text-align: right;
}

menu.account > li > a {
  padding: 0.25rem;
  text-transform: lowercase;
  text-underline-offset: 0.25rem;
  font-size: 0.8rem;
}

menu.account > li > a svg {
  width: 1rem;
  height: 1rem;
}

@media only screen {
  @media (min-width: 800px) {
    menu.account {
      justify-content: flex-end;
      gap: 0 1rem;
      visibility: visible;
      height: auto;
    }

    menu.account > li {
      width: fit-content;
    }
  }
}
