/*  ------------------------------------------------------------------------
      Branding
    ------------------------------------------------------------------------  */

.branding {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 0.25rem 0;
  padding: 1rem;
}

.branding a {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out,
    margin 0.3s ease-in-out;
}

.branding a .brand-logo,
.branding .brand-name {
  margin: 0;
}

.branding a .brand-logo,
.branding a:link .brand-logo,
.branding a:visited .brand-logo {
  fill: var(--primary);
}

.branding a:active .brand-logo,
.branding a:focus .brand-logo,
.branding a:hover .brand-logo {
  animation-name: grow, spin;
  animation-delay: 0s, 150ms;
  animation-duration: 500ms, 1500ms;
  animation-fill-mode: forwards, backwards;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: linear, linear;
}

.branding .brand-name {
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
}

.branding .brand-slogan {
  grid-column: 1/span 2;
  grid-row: 3;
  margin-bottom: 0;
  text-align: right;
  font-weight: 500;
  font-size: 0.85rem;
  transition: font-size 0.3s ease-in-out;
}


@media only screen {
  @media (min-width: 370px) {
    .branding a {
      gap: 0 5%;
    }

    .branding .brand-name {
      grid-row: 1;
    }

    .branding .brand-slogan {
      grid-column: 2;
      grid-row: 2;
      text-align: left;
    }
  }

  @media (min-width: 800px) {
    .branding {
      align-items: flex-start;
      gap: 1.75rem 0;
    }

    .branding a {
      flex-direction: row-reverse;
    }
  }

  /*@media (min-width: 960px) {
    .branding {
      gap: 2rem 0;
    }
  }*/
}
