/*  ------------------------------------------------------------------------
      Main Menu
    ------------------------------------------------------------------------  */

menu.main {
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  gap: 0 2rem;
  height: 0;
  padding: 0.25rem 1rem 0.25rem 0;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out;

  @media only screen and (min-width: 800px) {
    visibility: visible;
    height: auto;
  }
}

menu.main > a {
  text-underline-offset: 0.35rem;
  transition:
    font-size 0.3s ease-in-out,
    text-decoration 0.5s linear;
}

menu.main > a,
menu.main > a:link,
menu.main > a:visited {
  text-decoration: underline dotted;
}

menu.main > a:active,
menu.main > a:hover,
menu.main > a:focus {
  text-decoration: underline double;
}

menu.main > li[aria-current="page"] > a {
  color: red;
}

@media only screen {
  @media (min-width: 960px) {
    menu.main {
      gap: 0 3rem;
    }

    menu.main > li > a {
      font-size: 1.25rem;
    }
  }
}
