html {
  width: 100vw;
  height: 100vh;
}

body.admin {
  --constraint--admin: var(--constraint--website);

  /* [#3d3741] Background Base */
  --bg--base-h: 276;
  --bg--base-s: 8%;
  --bg--base-l: 24%;
  --bg--base: hsl(var(--bg--base-h), var(--bg--base-s), var(--bg--base-l));

  /* [#29252b] Background Dark */
  --bg--base-dark-h: 280;
  --bg--base-dark-s: 8%;
  --bg--base-dark-l: 16%;
  --bg--base-dark: hsl(var(--bg--base-dark-h), var(--bg--base-dark-s), var(--bg--base-dark-l));

  /* [#29252b] Background Darker */
  --bg--base-darker-h: 276;
  --bg--base-darker-s: 7%;
  --bg--base-darker-l: 14%;
  --bg--base-darker: hsl(var(--bg--base-darker-h), var(--bg--base-darker-s), var(--bg--base-darker-l));

  /* [#f2eaf7] Base foreground */
  --fg--base-h: 277;
  --fg--base-s: 45%;
  --fg--base-l: 94%;
  --fg--base: hsl(var(--fg--base-h), var(--fg--base-s), var(--fg--base-l));

  display: grid;
  align-content: start;
  width: 100%;
  max-width: var(--constraint--admin);
  height: calc(100% - 32px);
  margin-right: auto;
  margin-left: auto;
}

.admin--header,
.admin--sidebar,
.admin--panel,
.admin--footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.admin--sidebar,
.admin--panel {
  padding-bottom: 1rem;
}

.admin--header,
.admin--footer {
  /*background-color: var(--bg--base-dark);*/
}

.admin--header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.admin--sidebar  {
  padding-top: 2rem;
  background-color: var(--debug--lime);
}

.admin--sidebar .navigation menu {
  flex-direction: row;
  /*background-color: var(--bg--base-darker);*/
}

.admin--sidebar .navigation menu .menu-item {
  width: fit-content;
}

.admin--footer {
  padding-top: 2rem;
  padding-bottom: 4rem;

  /*background-color: var(--debug--lime);*/
}

.admin--footer p {
  text-align: center;
  font-size: 0.8rem;
}


@media screen {
  @media (min-width: 70rem) {
    body.admin {
      grid-template-columns: 10rem 1fr;
      gap: 0;
    }

    .admin--header {
      grid-column: 1/span 2;
      grid-row: 1;
      align-self: start;
    }

    .admin--sidebar {
      grid-column: 1;
      grid-row: 2/span 3;
      padding-bottom: 4rem;
    }

    .admin--sidebar .navigation menu {
      flex-direction: column;
    }

    .admin--panel {
      grid-column: 2;
      grid-row: 2/span 3;
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
    }

    .admin--footer {
      grid-column: 1/span 2;
      grid-row: 5;
      align-self: end;
    }
  }
}
