.panel-header {
  padding: 0 2rem 2rem;
}

.listing-wrapper,
.listing-wrapper .listing {
  display: flex;
  flex-direction: column;
}

/*.listing-wrapper {
  background-color: var(--debug--orange);
}*/

.listing-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);;
}

.listing-tools .create-new {
  background-color: var(--system--success);
}

/*.listing-tools .list-search {}*/

.listing-tools .list-search .form-input--text {
  width: 16rem;
}

.listing {
  overflow-y: auto;
  height: 76vh;
  padding: 2rem 2rem 0;
  /*background-color: var(--debug--blue);*/
}

.item {
  display: grid;
  align-content: start;
  align-items: start;
  gap: 0 1rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.item:not(:last-of-type) {
  border-bottom: 0.0125rem solid #ddd;
}

.item p {
  margin-bottom: 0;
}

.item--meta {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.item--meta svg {
  width: 1.25rem;
  height: 1.25rem;
}

.item--date {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

.item--actions menu {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  align-content: center;
  justify-content: center;
}

.item--actions menu li {
  display: flex;
  align-items: center;
  gap: 0 0.25rem;
}

.item--actions menu svg {
  width: 1rem;
  height: 1rem;
}

.item--actions menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
}
