.ae--branding a {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  min-width: 16rem;
  margin-bottom: 4rem;
}

.menu--account menu,
.menu--main menu {
  gap: 1.5rem 2rem;
}

.menu--account .menu-item,
.menu--account .menu-item span {
  width: fit-content !important;
}

.menu--main .menu-link {
  font-size: 1.25rem;
}


@media screen {
  @media (min-width: 47.5rem) {
    .menu--main {
      position: sticky;
      top: 4rem;
    }

    .menu--main menu {
      flex-flow: column;
    }
  }
}


@media screen {
  @media (min-width: 64.0625rem) {
    .ae--branding {
      position: sticky;
      top: 2rem;
    }
  }
}
