.ae--branding .brand-anchor {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  min-width: 16rem;
}

.ae--branding .brand-anchor {
  text-decoration: none;
}

.ae--branding .brand-anchor .brand-logo,
.ae--branding .brand-anchor:link .brand-logo,
.ae--branding .brand-anchor:visited .brand-logo {
  fill: var(--primary);
}

.ae--branding .brand-anchor:active .brand-logo,
.ae--branding .brand-anchor:focus .brand-logo,
.ae--branding .brand-anchor:hover .brand-logo {
  animation-name: grow, spin;
  animation-delay: 0s, 150ms;
  animation-duration: 500ms, 1500ms;
  animation-fill-mode: forwards, backwards;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: linear, linear;
}

.ae--branding .brand-name {
  margin-bottom: 0;
  line-height: 2;
}

.menu--account menu,
.menu--main menu {
  gap: 1.5rem 2rem;
}

.menu--account .menu-item,
.menu--account .menu-item span {
  width: fit-content !important;
}

.menu--main .menu-link {
  font-size: 1.25rem;
}


@media screen {
  @media (min-width: 47.5rem) {
    .menu--main {
      position: sticky;
      top: 4rem;
    }

    .menu--main menu {
      flex-flow: column;
    }
  }
}


@media screen {
  @media (min-width: 64.0625rem) {
    .ae--branding {
      position: sticky;
      top: 2rem;
    }
  }
}
