.content-editor {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.editor--header,
.editor--content,
.editor--side,
.editor--footer {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.editor--header {
  grid-row: 1;
}

.editor--header h1 {
  font-size: 1.5rem;
}

.editor--content {
  grid-row: 2;
}

.editor--side {
  grid-row: 3;
}

.editor--footer {
  grid-row: 4;
}

.form-field input[type="text"],
.form-field input[type="search"] {
  width: 100%;
}

.form-field.pinned,
.form-field.promoted {
  display: flex;
}

.account-details {
  display: flex;
  flex-direction: column;
  gap: 3em 0;
  padding-top: 2rem;
}

.account-details legend {
  font-weight: bold;
  font-size: 1.25rem;
}

.account-details form fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em 0;
}


.ck > .ck-toolbar__items {
  flex-wrap: wrap !important;
}

.ck > .ck-editor__editable {
  background-color: #f6f6f6 !important;
  resize: vertical;
}

.ck > .ck-editor__editable:focus {
  background-color: #fff !important;
}

.extract .ck > .ck-editor__editable,
.summary .ck > .ck-editor__editable {
  min-height: 6rem;
}

.body .ck > .ck-editor__editable {
  min-height: 15rem;
}


@media screen and (min-width: 47.5rem) {
  .content-editor {
    grid-template-columns: 1fr 14rem;
  }

  .editor--header {
    grid-column: 1;
  }

  .editor--content {
    grid-column: 1;
  }

  .editor--side {
    grid-column: 2;
    grid-row: 2;
  }

  .editor--footer {
    grid-column: 1/span 2;
    grid-row: 3;
  }

  .form-field.pinned,
  .form-field.promoted {
    flex-direction: row;
    justify-content: space-between;
  }
}
