.listing-header {
  position: sticky;
  top: -2px;
  padding: 0.5rem 1rem;
  background-color: #fff;
}

.listing-header[stuck] {
  box-shadow: 0 1rem 0.75rem -1rem rgba(0, 0, 0, 0.4);
  opacity: 0.85;
}

.listing-wrapper,
.listing-wrapper .listing {
  display: flex;
  flex-direction: column;
}

/*.listing-wrapper {
  background-color: var(--debug--orange);
}*/

.listing-tools {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

/*.listing-tools .create-new,
.listing-tools .list-search {
  margin-right: auto;
  margin-left: auto;
}*/

.listing-tools .create-new {
  background-color: var(--system--success);
}

/*.listing-tools .list-search {}*/

.listing-tools .list-search .form-input--text {
  width: 100%;
  max-width: 24rem;
}

.listing {
  /*overflow-y: auto;*/
  /*height: 76vh;*/
  padding: 2rem 2rem 0;
  /*background-color: var(--debug--blue);*/
}

.item {
  display: grid;
  align-content: start;
  align-items: start;
  gap: 0.5rem 1rem;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.item:not(:last-of-type) {
  border-bottom: 0.0125rem solid #ddd;
}

.item p {
  margin-bottom: 0;
}

.item--taxonomy {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.item--taxonomy .fa-tag {
  color: hsl(var(--system--warning-h), var(--system--warning-s), calc(var(--system--warning-l) - 10%));
}

.item--meta {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.item--meta svg {
  width: 1.25rem;
  height: 1.25rem;
}

.item--date {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

.item--actions menu {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  align-content: center;
  justify-content: center;
}

.item--actions menu li {
  display: flex;
  align-items: center;
  gap: 0 0.25rem;
}

.item--actions menu svg {
  width: 0.85rem;
  height: 0.85rem;
}

.item--actions menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.label-category {
  padding: 0.25rem 0.5rem;
  border: 0.0125rem solid hsl(var(--system--warning-h), var(--system--warning-s), calc(var(--system--warning-l) - 5%));
  border-radius: 0.15rem;
  background-color: var(--system--warning);
  text-decoration: none;
  text-transform: lowercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
}

.label-category:hover,
.label-category:focus,
.label-category:focus-visible {
  border-color: #000;
  background-color: hsl(var(--system--warning-h), var(--system--warning-s), calc(var(--system--warning-l) + 10%));
}
