/*
[x-cloak] {
  display: none !important;
}

.component.loading {
  background-color: var(--bg-primary);
}

a:not(.button), a:not(.button):link, a:not(.button):visited {
  color: #e53e3e;
}

a:not(.button):active, a:not(.button):hover, a:not(.button):focus {
  text-underline-offset: 0.25rem;
  text-decoration: underline dotted;
  color: #000;
}
*/
