.env
.env.*
.phpunit.result.cache
/.fleet
/.idea
/.phpunit.cache
/.vscode
/node_modules
/public/build
/public/hot
/public/images/*
!/public/images/placeholder
/public/storage
/public/vendor
/storage/*
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
