:is(a, button, input, summary, textarea) {
  --outline-color: #000;
  --outline-offset: 0.15rem;
  --outline-size: 0.15rem;
  --outline-style: dashed;
}

:is(a, button:not(.toggle), input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset);
}

:is(a, button:not(.toggle), input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

button {
  --outline-offset: -0.15rem;
}

button:focus,
input:focus,
select:focus,
option:focus,
.ck-editor__editable_inline:focus {
  --outline-style: none;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
option:focus-visible,
.ck-editor__editable_inline:focus-visible {
  --outline-style: dashed;
}

summary {
  --outline-offset: 0.5em;
  --outline-style: dotted;
}

::selection {
  background-color: var(--background--highlight);
  color: #000;
}

/** -- Screen reader. */

.sr-only {
  overflow: hidden;
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
}

.sr-only:active,
.sr-only:focus {
  overflow: visible;
  clip-path: inset(0);
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  white-space: normal;
}

/** -- Skip to content. */

.skip-content {
  --outline-offset: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 3rem 1rem;
  background-color: var(--background--highlight);
  text-decoration: overline underline dashed var(--system--success-light);
  text-underline-offset: 0.65rem;
  font-weight: 700;
  font-size: 2rem;
  color: #000;
}
