body {
  display: flex;
  height: 100vh;
}

.exo {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1px 1fr;
  gap: 0;
  max-width: 72rem;
  height: 100%;
  margin: 0;
}

@media only screen and (min-width: 480px) {
  .exo {
    grid-template-columns: 3.5rem 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .exo {
    grid-template-columns: 4rem 1fr;
  }
}

.endo {
  grid-column: 2;
  grid-row: 1/span 2;

  display: flex;
  flex-direction: column;

  background-color: var(--debug--yellow);
}

@media only screen and (max-width: 1023px) {
  .phpdebugbar {
    display: none;
  }
}
