body {
  display: flex;
  height: calc(100vh - 0.25rem);
}

.exo {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1px 1fr;
  gap: 0;
  max-width: 100rem;
  height: 100%;
  margin: 0;

  @media only screen {
    @media (min-width: 480px) {
      grid-template-columns: 3.5rem 1fr;
    }

    @media (min-width: 768px) {
      grid-template-columns: 4rem 1fr;
    }
  }
}

.endo {
  grid-column: 2;
  grid-row: 1/span 2;

  display: flex;
  flex-direction: column;
  max-width: 72rem;
}

.endo main {
  min-height: 100%;

  background-color: var(--debug--yellow);
}

@media only screen and (max-width: 1023px) {
  .phpdebugbar {
    display: none;
  }
}
