.site--header {
  display: grid;
  grid-template-columns: 1fr;
}

.site--header .branding  {
  align-self: center;
}

.site--header menu.account,
.site--header menu.main {
  align-self: center;
}

.site--header > *  {
  width: 100%;
}

@media only screen {
  @media (min-width: 800px) {
    .site--header {
      grid-template-columns: 12rem 13rem 1fr;
      gap: 2rem;
      padding-bottom: 1rem;
    }

    .site--header .branding {
      grid-column: 1/span 2;
      grid-row: 1/span 2;
    }

    .site--header menu.account {
      grid-column: 2/span 2;
      grid-row: 1;
    }

    .site--header menu.main {
      grid-column: 2/span 3;
      grid-row: 2;
    }
  }

  @media (min-width: 800px) {
    .site--header {
      gap: 1rem;
    }
  }
}
