*:focus {
  outline: none;
}

*:focus-visible {
  outline: 0.125rem solid rgba(0, 187, 255, 1);
}


/*  ------------------------------------------------------------------------
      'Flying Focus'
      @link https://github.com/Q42/floating-focus-a11y
    ------------------------------------------------------------------------  */
.floating-focus-enabled :focus, .floating-focus-enabled .focus {
  outline: 0.125rem solid rgba(0, 187, 255, 1);
  outline-offset: 0.15rem;
}

.floating-focus-enabled [type="button"]:focus {
  outline-color: green;
  outline-offset: 0.15rem;
}


/*  ------------------------------------------------------------------------
      Overlay
    ------------------------------------------------------------------------  */

.a11y-nav {
  z-index: 99;
  position: absolute;
  top: -20em;
  width: 100%;
}

.a11y-nav a {
  position: absolute;
  right: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #0ff;
  font-weight: bold;
  text-align: center;
}

.a11y-nav a:focus {
  top: 20em;
  box-shadow: 0 1px 2px 0 rgba(43, 42, 51, 0.05);
  text-decoration: none;
}

::selection {
  background-color: var(--background--highlight);
  color: #000;
}

/** -- Screen reader. */

.srt {
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border-width: 0;
  white-space: nowrap;
}

.not-srt,
.srt:active,
.srt:focus {
  overflow: visible;
  clip: auto;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: normal;
}
