menu {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

menu,
menu > li > a,
menu > li > a span {
  width: 100%;
}

menu > li {
  display: block;
}

menu > li > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: bold;
}

menu > li > a .icon {
  width: 1.5rem;
  height: 1.5rem;
}


/*  ------------------------------------------------------------------------
      Main Menu
    ------------------------------------------------------------------------  */

menu.main {
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  gap: 0 2rem;
  height: 0;
  padding: 0.25rem 1rem 0.25rem 0;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out;

  @media only screen and (min-width: 800px) {
    visibility: visible;
    height: auto;
  }
}

menu.main > a {
  text-underline-offset: 0.35rem;
  transition:
    font-size 0.3s ease-in-out,
    text-decoration 0.5s linear;
}

menu.main > a,
menu.main > a:link,
menu.main > a:visited {
  text-decoration: underline dotted;
}

menu.main > a:active,
menu.main > a:hover,
menu.main > a:focus {
  text-decoration: underline double;
}

menu.main > li[aria-current="page"] > a {
  color: red;
}

@media only screen {
  @media (min-width: 960px) {
    menu.main {
      gap: 0 3rem;
    }

    menu.main > li > a {
      font-size: 1.25rem;
    }
  }
}


/*  ------------------------------------------------------------------------
      Account Menu
    ------------------------------------------------------------------------  */

menu.account {
  visibility: hidden;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 0;
  padding: 0.25rem 0;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

menu.account > li {
  text-align: right;
}

menu.account > li > a {
  padding: 0.25rem;
  text-transform: lowercase;
  text-underline-offset: 0.25rem;
  font-size: 0.8rem;
}

@media only screen {
  @media (min-width: 800px) {
    menu.account {
      justify-content: flex-end;
      gap: 0 1rem;
      visibility: visible;
      height: auto;
    }

    menu.account > li {
      width: fit-content;
    }
  }
}


/*  ------------------------------------------------------------------------
      Overlay Menu
    ------------------------------------------------------------------------  */

/** -- Main clone */

menu.main-clone,
menu.account-clone {
  list-style: none;
  display: flex;
  width: calc(100% - 2rem);
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

menu.main-clone {
  flex-direction: column;
  margin-top: 12vh;
  font-size: 2rem;
  color: #f2eaf7;

  @media only screen and (min-width: 768px) {
    font-size: 2.5rem;
  }
}

menu.main-clone > li > a {
  padding: 0.5rem 2rem;
  border-left: 0.15rem solid transparent;
  text-decoration: none;
  color: #f2eaf7;

  @media only screen and (min-width: 640px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 4rem;
    border-left-width: 0.25rem;
  }

  @media only screen and (min-width: 1024px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    border-left-width: 0.5rem;
  }
}

menu.main-clone > li[aria-selected="true"] > a {
  border-left: 0.5rem solid #fff;
  color: #fff;
}

menu.main-clone > li >a:hover {
  border-color: #f2eaf7;
  background-color: #3d3741;
  text-decoration: none;
  color: #fff;
}

/** -- Account clone */

menu.account-clone {
  justify-content: center;
  gap: 1.25rem;
  font-size: 1.15rem;

  @media only screen and (min-width: 640px) {
    gap: 0 2rem;
    font-size: 1.25rem;
  }

  @media only screen and (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 1.75rem;
  }
}

menu.account-clone > li > a {
  text-decoration: none;
  color: #f2eaf7;
}

menu.account-clone > li > a:active,
menu.account-clone > li > a:hover,
menu.account-clone > li > a:focus {
  text-decoration: underline dotted;
  color: #fff;
}


/*  ------------------------------------------------------------------------
      Branding
    ------------------------------------------------------------------------  */

.branding {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 0.25rem 0;
  padding: 1rem;
}

.branding a {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out,
    margin 0.3s ease-in-out;
}

.branding a .brand-logo,
.branding .brand-name {
  margin: 0;
}

.branding a .brand-logo,
.branding a:link .brand-logo,
.branding a:visited .brand-logo {
  fill: var(--primary);
}

.branding a:active .brand-logo,
.branding a:focus .brand-logo,
.branding a:hover .brand-logo {
  animation-name: grow, spin;
  animation-delay: 0s, 150ms;
  animation-duration: 500ms, 1500ms;
  animation-fill-mode: forwards, backwards;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: linear, linear;
}

.branding .brand-name {
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
}

.branding .brand-slogan {
  grid-column: 1/span 2;
  grid-row: 3;
  margin-bottom: 0;
  text-align: right;
  font-weight: 500;
  font-size: 0.85rem;
  transition: font-size 0.3s ease-in-out;
}


@media only screen {
  @media (min-width: 370px) {
    .branding a {
      gap: 0 5%;
    }

    .branding .brand-name {
      grid-row: 1;
    }

    .branding .brand-slogan {
      grid-column: 2;
      grid-row: 2;
      text-align: left;
    }
  }

  @media (min-width: 800px) {
    .branding {
      align-items: flex-start;
      gap: 1.75rem 0;
    }

    .branding a {
      flex-direction: row-reverse;
    }
  }

  /*@media (min-width: 960px) {
    .branding {
      gap: 2rem 0;
    }
  }*/
}


/*  ------------------------------------------------------------------------
      Profiles
    ------------------------------------------------------------------------  */

menu.profile {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

menu.profile .menu-link {
  gap: 0;
  transition: transform 0.2s ease-in-out;
}

menu.profile .menu-link svg {
  width: 1.75rem;
  height: 1.75rem;
}

menu.profile .menu-link span {
  text-indent: -1000em;
}

menu.profile .menu-link:hover,
menu.profile .menu-link:focus,
menu.profile .menu-link:focus-visible {
  transform: scale(1.5);
}

/* <> */
