@charset "utf-8";

@import "core.css" layer(ae.core);
@import "layout.css" layer(ae.layout);
@import "overlay.css" layer(ae.overlay);
@import "navigation.css" layer(ae.navigation);
@import "components.css" layer(ae.components);
@import "utilities.css" layer(ae.utilities);
@import "page.css" layer(ae.override);

/* Focus Glow */
@keyframes focus-glow {
  0% { background-color: oklch(75.54% 0.153 231.64 / 50%); }
  50% { background-color: oklch(75.54% 0.153 231.64 / 47.5%); }
  100% { background-color: transparent; }
}

/* Fade In */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Grow */
@keyframes grow {
  from { transform: scale(1); }
  to { transform: scale(2); }
}

/* Spin */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
