.alert {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  align-items: center;
  gap: 5%;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1.5rem -1rem rgba(0, 0, 0, 0.3);
}

.alert + .alert {
  margin-top: 0.5rem;
}

.alert:last-of-type {
  margin-bottom: 2rem;
}

.alert .icon--status,
.alert figcaption {
  grid-row: 1/span 2;
}

.alert .icon--status {
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.alert figcaption {
  grid-column: 2;
  font-size: 0.9rem;
}

.alert figcaption h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: clamp(1rem, -1rem + 4vw, 1.5rem);
  color: #000;
}

.alert figcaption p,
.alert figcaption ul {
  line-height: 1.4;
  color: #000;
}

.alert figcaption ul {
  margin: 0;
  padding-inline-start: 1rem;
}

.alert figcaption a {
  font-weight: bold;
}

.alert figcaption a:active,
.alert figcaption a:hover,
.alert figcaption a:focus {
  text-decoration: underline double !important;
  color: #000 !important;
}

/** -- Info/Status  */

.alert.status {
  background-color: var(--system--status-light);
  box-shadow: inset 0 0 1rem hsl(var(--system--status-light-h), var(--system--status-light-s), calc(var(--system--status-light-l) - 5%));
}

.alert.status .icon--status {
  fill: var(--system--status);
}

.alert.status figcaption a:link,
.alert.status figcaption a:visited {
  color: hsl(var(--system--status-h), var(--system--status-s), calc(var(--system--status-l) - 25%));
}

/** -- Alert */

.alert.alert {
  background-color: var(--system--danger-light);
  box-shadow: inset 0 0 1rem hsl(var(--system--danger-light-h), var(--system--danger-light-s), calc(var(--system--danger-light-l) - 5%));
}

.alert.alert .icon--status {
  fill: var(--system--danger);
}

.alert.alert figcaption a:link,
.alert.alert figcaption a:visited {
  color: hsl(var(--system--danger-h), var(--system--danger-s), calc(var(--system--danger-l) - 20%));
}

/** -- Success  */

/*.alert.success {
	background-color: var(--system--success-light);
	box-shadow: inset 0 0 1rem hsl(var(--system--success-light-h),var(--system--success-light-s),calc(var(--system--success-light-l) - 5%));
}

.alert.success .icon--status {
	fill: var(--system--success);
}

.alert.success figcaption a:link,
.alert.success figcaption a:visited {
	color: hsl(var(--system--success-h),var(--system--success-s),calc(var(--system--success-l) - 20%));
}*/

/** -- Warning  */


/*.alert.warning {
	background-color: var(--system--warning-light);
	box-shadow: inset 0 0 1rem hsl(var(--system--warning-light-h),var(--system--warning-light-s),calc(var(--system--warning-light-l) - 5%));
}

.alert.warning .icon--status {
	fill: var(--system--warning);
}

.alert.warning figcaption a:link,
.alert.warning figcaption a:visited {
	color: hsl(var(--system--warning-h),var(--system--warning-s),calc(var(--system--warning-l) - 40%));
}*/

/** -- Danger/Error  */

/*.alert.danger,
.alert.error {
	background-color: var(--system--danger-light);
	box-shadow: inset 0 0 1rem hsl(var(--system--danger-light-h),var(--system--danger-light-s),calc(var(--system--danger-light-l) - 5%));
}

.alert.danger .icon--status,
.alert.error .icon--status {
	fill: var(--system--danger);
}

.alert.danger figcaption a:link,
.alert.danger figcaption a:visited,
.alert.error figcaption a:link,
.alert.error figcaption a:visited {
	color: hsl(var(--system--danger-h),var(--system--danger-s),calc(var(--system--danger-l) - 20%));
}*/
