/** -- Responsive Video */

.video-responsive,
.video,
.field--name-field-media-oembed-video {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  aspect-ratio: 16/9;
}

@supports not (aspect-ratio: 16/9) {
  .video-responsive::before,
  .video::before,
  .field--name-field-media-oembed-video::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; /* Default ratio 16:9 */
    /*padding-bottom: 75%;*/ /* Ratio 4:3 */
    /*padding-bottom: 100%;*/ /* Ratio 1:1 */
  }
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  border: 0;
}

video.video-responsive {
  max-width: 100%;
  height: auto;
}

video.video-responsive::before {
  content: none;
}

.video-responsive-4-3::before {
  padding-bottom: 75%; /* Ratio 4:3 */
}

.video-responsive-1-1::before {
  padding-bottom: 100%; /* Ratio 1:1 */
}

.media-object {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.media-object .block-title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.media-object > a {
  display: block;
}

.media-object + figcaption {
  max-width: 100%;
  padding: 0.25rem 0;
  font-size: 0.9rem;
}

/** -- SignatureImage. */

.media-object img,
.media-object .field--name-field-media-image img {
  width: auto;
  height: auto;
}

/** -- Google Map. */

/*.media-object.has-map {
  flex-direction: column;
}

.media-object.has-map.block-title {
  margin-bottom: 2rem;
}

.media-object.has-map .map {
  height: 100%;
  min-height: 40rem;
}*/


@media screen and (min-width: 60rem) {
  .media-object.has-map .map {
    min-height: 50rem;
  }
}
