.listings.article {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.h-as-article.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h-as-article.card .entry-header h2 {
  margin-bottom: 0.5rem;
}

.h-as-article.card .taxonomy {}

.h-as-article.card .entry-summary {}
